<a href="https://colab.research.google.com/github/Haender-Michael/Haender_practice/blob/main/Copie_de_Copie_de_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

what do I need to do in this analysis ?
best place to buy plane
show the risk of buying Aircraft
tell what aircrafts are the lowest risk for the company

# Risk Assessment: Analysis for best Aicraft Acquisition.


# Introduction
Your company is expanding in to new industries to diversify its portfolio. Specifically, they are interested in purchasing and operating airplanes for commercial and private enterprises, but do not know anything about the potential risks of aircraft. You are charged with determining which aircraft are the lowest risk for the company to start this new business endeavor. You must then translate your findings into actionable insights that the head of the new aviation division can use to help decide which aircraft to purchase.
example for structuring your data :https://www.kaggle.com/code/michaelhaender/notebookbabfe3f42a/edit

In [250]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn
%matplotlib inline

In [251]:
df = pd.read_csv('./AviationData.csv', encoding='latin1', low_memory=False)

## Data cleaning.
In this part we will:
- drop columns not needed for the analysis
- modify the data type in the entries
- change columns name for easier access  
- deal with missing values

these steps will ensure that everything run smoothly later during our Analysis.
Some other data clearing process will be done later in the analysis.

In [252]:
# first let's a quick view of the data.
df.sample(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
81341,20180402X73754,Accident,GAA18CA196,2018-04-01,"Seldovia, AK",United States,592632N,1514214W,SOV,SELDOVIA,...,Instructional,AK AC LLC,0.0,0.0,0.0,2.0,VMC,NaN,The pilots failure to maintain directional co...,25-09-2020
36087,20001206X02253,Accident,FTW94LA302,1994-09-19,"HOUSTON, TX",United States,NaN,NaN,STA4,WESTHEIMER AIRPARK,...,Instructional,NaN,0.0,0.0,1.0,0.0,VMC,Go-around,Probable Cause,05-04-1995
29925,20001211X14115,Accident,FTW92LA074,1992-02-26,"MC ALESTER, OK",United States,NaN,NaN,MLC,MC ALESTER REGIONAL,...,Instructional,NaN,0.0,0.0,1.0,0.0,VMC,Go-around,Probable Cause,23-07-1993
13978,20001213X32871,Accident,LAX86FA120,1986-02-17,"CARLSBAD, CA",United States,NaN,NaN,CRQ,MCCLELLAN-PALOMAR,...,Business,NaN,1.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,25-04-1988
51341,20010829X01813,Accident,ANC01LA121,2001-08-21,"NONDALTON, AK",United States,59.966667,-154.843889,NaN,NaN,...,NaN,"Jack Barber (dba: Alaska Air Taxi, Inc.)",NaN,NaN,NaN,5.0,VMC,Takeoff,Probable Cause,02-07-2002

In [253]:
# let's get some insight about how the data is structured.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [254]:
# first let's creat a copy so that we can still have the original dataset.
df2 = df.copy()
df2

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

#### Dropping columns:
(give the reasons for dropping these columns)
 we can observe that we have two columns with unique values that can be considered as index :
 Event_Id and Accident Number.
 let's drop this row.
 since Injury_severity contain the same information has the other column  we can drop Injury_severity column
 publication date will not be taken into account for our analysis:

In [255]:
df2 = df2.drop(columns =['Accident.Number','Publication.Date','Injury.Severity'])

####Modify the data type in the entries

In [256]:
# removing unnecessary space in columns name:
df.columns = df.columns.str.strip()

In [257]:
# replace "."by "_" in column name for easier access and decryption .
df2.columns = df2.columns.str.replace('.','_')

In [258]:
# formating rows in Event_date to date format:
df2['Event_Date'] = pd.to_datetime(df2['Event_Date'])

In [259]:
# set index as Event.Id and make  make each rows in the Event_Id unique.
df2.set_index('Event_Id')
df2 = df2.drop_duplicates(subset = ['Event_Id'])

In [244]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87951 entries, 0 to 88888
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                87951 non-null  object
 1   Investigation_Type      87951 non-null  object
 2   Event_Date              87951 non-null  datetime64[ns]
 3   Location                87899 non-null  object
 4   Country                 87729 non-null  object
 5   Airport_Code            49484 non-null  object
 6   Airport_Name            52031 non-null  object
 7   Aircraft_damage         84848 non-null  object
 8   Registration_Number     86601 non-null  object
 9   Make                    87888 non-null  object
 10  Model                   87859 non-null  object
 11  Amateur_Built           87851 non-null  object
 12  Number_of_Engines       81924 non-null  float64
 13  Engine_Type             80908 non-null  object
 14  Purpose_of_flight       81829 non-null  object
 15  Total_Fatal_Injuries    87951 non-null  int64
 16  Total_Serious_Injuries  87951 non-null  int64
 17  Total_Minor_Injuries    87951 non-null  int64
 18  Total_Uninjured         87951 non-null  int64
 19  Weather_Condition       83478 non-null  object
 20  Broad_phase_of_flight   60837 non-null  object
 21  Report_Status           81587 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(16)
memory usage: 15.4+ MB

In [265]:
df2['Number_of_Engines'] #  change the number of engines to inter

0        1.0
1        1.0
2        1.0
3        1.0
4        NaN
        ...
88884    NaN
88885    NaN
88886    1.0
88887    NaN
88888    NaN
Name: Number_of_Engines, Length: 87951, dtype: float64

In [236]:
# let's convert the 4 columns :
# Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries, Total_Uninjured
# into intengers
df2[['Total_Fatal_Injuries', 'Total_Serious_Injuries', 'Total_Minor_Injuries', 'Total_Uninjured']] = (
    df2[['Total_Fatal_Injuries', 'Total_Serious_Injuries', 'Total_Minor_Injuries', 'Total_Uninjured']]
    .fillna(0)
    .astype(int)
)
df2.head()

<ipython-input-236-8a5784ab66a0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['Total_Fatal_Injuries', 'Total_Serious_Injuries', 'Total_Minor_Injuries', 'Total_Uninjured']] = (

,Event_Id,Investigation_Type,Event_Date,Location,Country,Latitude,Longitude,Airport_Code,Airport_Name,Aircraft_damage,...,Schedule,Purpose_of_flight,Air_carrier,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight,Report_Status
0,20001218X45444,Accident,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Destroyed,...,NaN,Personal,NaN,2,0,0,0,UNK,Cruise,Probable Cause
1,20001218X45447,Accident,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Destroyed,...,NaN,Personal,NaN,4,0,0,0,UNK,Unknown,Probable Cause
2,20061025X01555,Accident,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Destroyed,...,NaN,Personal,NaN,3,0,0,0,IMC,Cruise,Probable Cause
3,20001218X45448,Accident,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Destroyed,...,NaN,Personal,NaN,2,0,0,0,IMC,Cruise,Probable Cause
4,20041105X01764,Accident,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Destroyed,...,NaN,Personal,NaN,1,2,0,0,VMC,Approach,Probable Cause

### Dealing with missing Values:
In this section we will be deleting column that are missing tremendous amount of values. for the data to be representative there has to be a sustainable amount of value therefore column with too much missing values will not serve the purpose of a good Analysis.
we will:
- observe the amount of missing value in each column.
- drop rows after filtering by missing values.

In [237]:
# let's take a look at how much missing values the data contain:
missing_values_count = df2.isna().sum()
missing_values_count

Event_Id                      0
Investigation_Type            0
Event_Date                    0
Location                     52
Country                     222
Latitude                  53739
Longitude                 53748
Airport_Code              38467
Airport_Name              35920
Aircraft_damage            3103
Aircraft_Category         55770
Registration_Number        1350
Make                         63
Model                        92
Amateur_Built               100
Number_of_Engines          6027
Engine_Type                7043
FAR_Description           56036
Schedule                  75591
Purpose_of_flight          6122
Air_carrier               71418
Total_Fatal_Injuries          0
Total_Serious_Injuries        0
Total_Minor_Injuries          0
Total_Uninjured               0
Weather_Condition          4473
Broad_phase_of_flight     27114
Report_Status              6364
dtype: int64

In [238]:
# Now let's remove the columns that have more than 50 000 missing values:
for column in df2.columns:
  if missing_values_count[column] > 50000:
    df2.drop(columns=[column],inplace = True)

In [239]:
df2.head()

,Event_Id,Investigation_Type,Event_Date,Location,Country,Airport_Code,Airport_Name,Aircraft_damage,Registration_Number,Make,...,Number_of_Engines,Engine_Type,Purpose_of_flight,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight,Report_Status
0,20001218X45444,Accident,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Destroyed,NC6404,Stinson,...,1.0,Reciprocating,Personal,2,0,0,0,UNK,Cruise,Probable Cause
1,20001218X45447,Accident,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Destroyed,N5069P,Piper,...,1.0,Reciprocating,Personal,4,0,0,0,UNK,Unknown,Probable Cause
2,20061025X01555,Accident,1974-08-30,"Saltville, VA",United States,NaN,NaN,Destroyed,N5142R,Cessna,...,1.0,Reciprocating,Personal,3,0,0,0,IMC,Cruise,Probable Cause
3,20001218X45448,Accident,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Destroyed,N1168J,Rockwell,...,1.0,Reciprocating,Personal,2,0,0,0,IMC,Cruise,Probable Cause
4,20041105X01764,Accident,1979-08-02,"Canton, OH",United States,NaN,NaN,Destroyed,N15NY,Cessna,...,NaN,NaN,Personal,1,2,0,0,VMC,Approach,Probable Cause

In [240]:
list_of_remaining_column = df2.isna().sum().index.tolist()

In [241]:
# since we have some column with categorical data that has missing rows
# we can just replace the Null with Unknown or anything that shows we
# don't have information for this particular column
for column in df2.columns:
  if df2[column].dtype != 'int64' :
    print(column)
# NB: Investigation has no null value that's why it is not part of the function above.

Event_Id
Investigation_Type
Event_Date
Location
Country
Airport_Code
Airport_Name
Aircraft_damage
Registration_Number
Make
Model
Amateur_Built
Number_of_Engines
Engine_Type
Purpose_of_flight
Weather_Condition
Broad_phase_of_flight
Report_Status

In [242]:
list_df2.isna().sum().index.tolist()

NameError: name 'list_df2' is not defined

### Data Understanding:

In [ ]:
df['Country'].value_counts()

### comment:
 we have to create a figure that shows how accident frequency has evolved over the year for each country.
 link for material that will help me do just that: https://www.kaggle.com/code/fernandowolff/aviation-accident-eda-and-hypothesis-testing

In [ ]:
df.info()

In [ ]:
df['Broad_phase_of_flight'].sample(10)

In [ ]:
df['Weather_Condition'].sample(10)