<a href="https://colab.research.google.com/github/Haender-Michael/Haender_practice/blob/main/Copie_de_Copie_de_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Risk Assessment: Analysis for best Aicraft Acquisition.

##Introduction
For this analysis, we will use the dataset "Aviation Accident Database & Synopses, up to 2023" from Kaggle, provided by the National Transportation Safety Board (NTSB). This dataset contains comprehensive information about aviation accidents, including aircraft make and model, weather conditions,Injury severity,accident locations and more.

Our goal is to analyze accident patterns, aircraft reliability, and contributing risk factors in aviation incidents. We will generate data-driven insights to assist the new aviation division in identifying the safest aircrafts for purchase and determining the best strategies for fleet management.


##Dataset overview
- Aircraft Make and Model: Information about the specific make and model of the aircraft involved in each incident.

- Weather Conditions: Details on the weather conditions prevailing at the time of the accidents.

- location : The location where the aviation accident took place.
- injury severity: the Gravity and the amount of injuries.

the dataset also contains other information, that are less relevant to the analysis.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn
%matplotlib inline

In [2]:
df = pd.read_csv('./AviationData.csv', encoding='latin1', low_memory=False)

## Exploratory Data Analysis (EDA)
For the purpose of this analysis we will take the following steps:
- Data cleaning
- Data Understanding
- Graphing Insight
- recommendations

##Data cleaning.
In this part we will:
- drop columns.
- modify data type in entries
- change columns name.
- deal with missing values

these steps will ensure that everything run smoothly later during our Analysis.
Some other data clearing process will also be done in the analysis.

In [15]:
# first let's draw a quick view of the data.
df.sample(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
2990,20020917X04637,Accident,FTW83FA009,1982-10-06,"HEBBRONVILLE, TX",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,VMC,Cruise,Probable Cause,06-10-1983
2069,20020917X02996,Accident,CHI82DA268,1982-07-23,"ANTIOCH, IL",United States,NaN,NaN,IL11,ANTIOCH,...,Business,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,23-07-1983
3878,20001214X42260,Accident,MIA83FA074,1983-02-13,"WINTER HAVEN, FL",United States,NaN,NaN,GIF,GILBERT,...,Personal,NaN,2.0,1.0,0.0,0.0,IMC,Takeoff,Probable Cause,NaN
1513,20020917X03560,Accident,LAX82DA216,1982-06-11,"PORTERVILLE, CA",United States,NaN,NaN,PTV,PORTERVILLE,...,Personal,NaN,0.0,0.0,0.0,5.0,VMC,Landing,Probable Cause,11-06-1983
1624,20020917X03147,Accident,DEN82DA123,1982-06-19,"LAUREL, MT",United States,NaN,NaN,6S8,LAUREL MUNICIPAL,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,Landing,Probable Cause,19-06-1983

In [4]:
df.describe()

,Latitude,Longitude,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,4.000000,4.000000,4402.000000,4385.000000,4379.000000,4378.000000,4402.000000
mean,39.041597,-90.460416,1.147887,0.437400,0.199361,0.271814,2.899818
std,6.675618,21.523393,0.448868,2.778267,0.637807,1.054007,19.310854
min,30.757778,-120.849722,0.000000,0.000000,0.000000,0.000000,0.000000
25%,35.381112,-96.479097,1.000000,0.000000,0.000000,0.000000,0.000000
50%,39.683750,-85.116805,1.000000,0.000000,0.000000,0.000000,1.000000
75%,43.344235,-79.098125,1.000000,0.000000,0.000000,0.000000,2.000000
max,46.041111,-70.758333,4.000000,153.000000,10.000000,33.000000,588.000000

In [5]:
# let's get some insight about how the data is structured.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4414 entries, 0 to 4413
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                4414 non-null   object
 1   Investigation.Type      4414 non-null   object
 2   Accident.Number         4414 non-null   object
 3   Event.Date              4414 non-null   object
 4   Location                4413 non-null   object
 5   Country                 4398 non-null   object
 6   Latitude                4 non-null      float64
 7   Longitude               4 non-null      float64
 8   Airport.Code            2187 non-null   object
 9   Airport.Name            2725 non-null   object
 10  Injury.Severity         4414 non-null   object
 11  Aircraft.damage         4342 non-null   object
 12  Aircraft.Category       3569 non-null   object
 13  Registration.Number     4414 non-null   object
 14  Make                    4408 non-null   object
 15  Model                   4400 non-null   object
 16  Amateur.Built           4413 non-null   object
 17  Number.of.Engines       4402 non-null   float64
 18  Engine.Type             4412 non-null   object
 19  FAR.Description         3569 non-null   object
 20  Schedule                670 non-null    object
 21  Purpose.of.flight       4407 non-null   object
 22  Air.carrier             267 non-null    object
 23  Total.Fatal.Injuries    4385 non-null   float64
 24  Total.Serious.Injuries  4379 non-null   float64
 25  Total.Minor.Injuries    4378 non-null   float64
 26  Total.Uninjured         4402 non-null   float64
 27  Weather.Condition       4413 non-null   object
 28  Broad.phase.of.flight   4410 non-null   object
 29  Report.Status           4413 non-null   object
 30  Publication.Date        3605 non-null   object
dtypes: float64(7), object(24)
memory usage: 1.0+ MB

In [16]:
# let's Create a copy to preserve the original dataset.
df2 = df.copy()
df2

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4409,20001214X42767,Accident,MIA83LA125,1983-04-16,"VERO BEACH, FL",United States,NaN,NaN,NaN,NaN,...,Instructional,NaN,0.0,0.0,0.0,2.0,VMC,Maneuvering,Probable Cause,NaN
4410,20001214X42766,Accident,MIA83LA124,1983-04-16,"PENSACOLA, FL",United States,NaN,NaN,PNS,PENSACOLA REGIONAL,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,NaN
4411,20001214X42741,Accident,LAX83LA200,1983-04-16,"DAVIS, CA",United States,NaN,NaN,2QE,YOLO COUNTY,...,Other Work Use,NaN,0.0,0.0,0.0,13.0,VMC,Unknown,Probable Cause,NaN
4412,20001214X42737,Accident,LAX83LA196,1983-04-16,"EL MONTE, CA",United States,NaN,NaN,EMT,EL MONTE,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,Landing,Probable Cause,NaN
4413,20001214X42718,Accident,LAX83FUJ13,1983-04-16,"FLAGSTAFF, AZ",United States,NaN,NaN,FLG,PULLIAM,...,Business,NaN,0.0,1.0,1.0,0.0,VMC,Takeoff,NaN,NaN

In [17]:
# removing unnecessary space in columns name for easier access:
df.columns = df.columns.str.strip()

In [18]:
# replace "."by "_" in column name for easier access and decryption .
df2.columns = df2.columns.str.replace('.','_')

### Drop columns :
Below we will drop columns that are not
needed for the analysis or that doesn't contain a substantial amount of entries.

# x x x x xx x x mwen rive la

In [9]:
# we already have Event_id that can
df2 = df2.drop(columns =['Accident_Number','Publication_Date','Injury_Severity'])

In [10]:
missing_values_count = df2.isna().sum()
missing_values_count

Event_Id                     0
Investigation_Type           0
Event_Date                   0
Location                     1
Country                     16
Latitude                  4410
Longitude                 4410
Airport_Code              2227
Airport_Name              1689
Aircraft_damage             72
Aircraft_Category          845
Registration_Number          0
Make                         6
Model                       14
Amateur_Built                1
Number_of_Engines           12
Engine_Type                  2
FAR_Description            845
Schedule                  3744
Purpose_of_flight            7
Air_carrier               4147
Total_Fatal_Injuries        29
Total_Serious_Injuries      35
Total_Minor_Injuries        36
Total_Uninjured             12
Weather_Condition            1
Broad_phase_of_flight        4
Report_Status                1
dtype: int64

In [11]:
# Keeps only columns with acceptable missing values
df2 = df2.loc[:, missing_values_count <= 50000]

In [12]:
df2.head()

KeyboardInterrupt:

####Modify data type and entries.
- set index
- replace '.' with '_'
- reformat column type.

In [ ]:
df2.head()

In [ ]:
# set index as Event.Id and make  make each rows in the Event_Id unique.
df2.set_index('Event_Id')
df2 = df2.drop_duplicates(subset = ['Event_Id'])

In [ ]:
# Reformating rows in Event_date to date format:
df2['Event_Date'] = pd.to_datetime(df2['Event_Date'])

In [ ]:
# let's convert the 5 columns :
# Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries, Total_Uninjured
# into intengers
df2[['Total_Fatal_Injuries','Number_of_Engines','Total_Serious_Injuries', 'Total_Minor_Injuries', 'Total_Uninjured']] = (
    df2[['Total_Fatal_Injuries', 'Number_of_Engines','Total_Serious_Injuries', 'Total_Minor_Injuries', 'Total_Uninjured']]
    .fillna(0)
    .astype(int)
)

### Dealing with missing Values:
In this section we will be deleting column that are missing tremendous amount of values. for the data to be representative there has to be a sustainable amount of value therefore column with too much missing values will not serve the purpose of a good Analysis.
we will:
- observe the amount of missing value in each column.
- drop rows after filtering by missing values.

In [ ]:
# let's take a look at how much missing values the data contain:
missing_values_count = df2.isna().sum()
missing_values_count

In [ ]:
df2['Aircraft_damage'].sample(20)

In [ ]:
# since we have some column with categorical data that have missing rows
# we can just replace the Null with Unknown or anything that shows we
# don't have information for the rows in question.
categorical_data = []  # Initialize an empty list

for column in df2.columns:
    if df2[column].dtype == 'object':
        categorical_data.append(column)  # Store column names in the list

print(categorical_data)  # Display the categorical column names

# NB: Investigation has no null value that's why it is not part of the function above.

In [ ]:
# let's see if they can truly be considered as  ategorical:

df2[df2.columns.intersection(categorical_data)].sample(15)

In [ ]:
# now let's replace all of the NaN value with UNKNOWN
df2[list(categorical_data)] = df2[list(categorical_data)].applymap(
    lambda x: 'UNKNOWN' if pd.isna(x) else x
)

df2.head()

## Data Understanding:

### comment:
 we have to create a figure that shows how accident frequency has evolved over the year for each country.
 link for material that will help me do just that: https://www.kaggle.com/code/fernandowolff/aviation-accident-eda-and-hypothesis-testing
 also :https://www.kaggle.com/code/michaelhaender/notebookbabfe3f42a/edit